
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}

nav{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
}

.Estilo_do_menu{
    color: rgb(226 , 226, 226);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 19px;
}

.link li a {
    display: block;
    padding: 20px;
}

.link li a:hover {
    background-color: rgb(255, 185, 33);
    transition: background .2s;
    padding: 20px;
    border-radius: 5px;
    transition: .2s;
}

.link{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.link li{
 list-style: none;
}

.link a{
    color: rgb(226 , 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Dosis', sans-serif;
}

.pp{
    display: none;
    cursor: pointer;
}

.pp div{
 width: 25px;
 height: 5px;
 background-color: rgb(226 , 226, 226);
 margin: 3px;
}

@media screen and (max-width:992px){
   .link{
       width: 60%;
   }
}

@media screen and (max-width:768px){
    body{
      overflow-x: hidden;
    }
    .link{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(8, 0, 14);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        z-index: 999;
        
    }
    .link li{
        opacity: 0;
    }
    .pp{
        display: block;
    }
}
.link-active{
    transform: translateX(0);
}

@keyframes navlinkfade{
    from{
    opacity: 0;
    transform: translateX(50px);
    }
    to{
 opacity: 1;
 transform: translate(0px);
    }
}

.toggle .l1{
  transform: rotate(-45deg translate(-5px, 6px));
}
.toggle .l3{
    transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .l3{
    transform: rotate(-45deg translate(-5px, 6px));
}

