section.index-pag{
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    background-color:rgb(39, 39, 39);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.index-pag h5{
    width: 50%
}

section.index-pag img{
    margin-left: 50%;
}

section.index-pag button{
    padding: 15px;
    margin-top: 10%;
    display: flex;
    width: 10%;
    font-size: 15px;
    background-color: green;
}