@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --cor-fundo: rgb(255, 153, 0);
    --cor-hover: #ffc400;
    --cor-primaria: #CAC4CE;
    --cor-teste: rgba(0, 0, 0, 0.579);
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/*inicio do rodapé*/
main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#watsapp {
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:rover{
    color: #ff9807;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ff9807;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 0.2rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
    
}

/*fim do rodapé*/

body {
    height: 100vh;
    width: 100vw;
}

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Inicio dos slides*/
.content {
    height: 520px;
    width: 935px;
    border-radius: 100px;
    overflow: hidden;
    /*Vai esconder todo o conteúdo que está ultrapassando as medidas do .content*/
    position: absolute;
    /*Serve para posicionamento a onde você desejar na tela*/
    top: 255%;
    /*Centralizar o topo*/
    left: 50%;
    /*Centralizar a Esquerda*/
    transform: translate(-50%, -50%);
}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

/* fim dos slides*/


/* navbar do adote */
a {
    /*Links*/
    text-decoration: none;
    color: white;
}


.descricao-principal {
    width: 100%;
    max-width: 20px;
    margin: 0 auto;
    padding: 10px;
}

section.adote-paralax1 {
    padding: 10%;
    color: #fff;
    font-size: 35px;
    text-align: center;
    z-index: 50;
}

section.adote-paralax1 p {
    margin-top: -1%;
    color: #fff;
    font-size: 25px;
    text-align: center;
    z-index: 50;
}

section.module {
    padding: 1px 0;
    background-color: #ff914d;
}

section.module1 {
    padding: 0px 0;
    background-color: rgba(0, 0, 0, 0);
}

section.module2 {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #000000, #00000000);
}

/* foto do sobre */
section.module-paralax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-image: url(/img/paralax2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* degrade do sobre */
section.module-paralax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%)
}

/* 1a foto do index */
section.index-paralax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-image: url(/img/paralax8.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* titulo do index */
section.index-paralax h1 {
    color: #ffffff;
    text-align: left;
    margin-top: 400px;
    margin-left: 20px;
    font-size: 40px;
    z-index: 50;
    font-family: 'Inter', sans-serif;
}

/* descrição do index */
section.index-paralax p {
    color: #ffffff;
    text-align: left;
    margin-left: 20px;
    max-width: 40%;
    font-size: 17px;
    z-index: 50;
    font-family: 'Inter', sans-serif;
}

button {
    padding: 25px 20px;
    color: #000000;
    font-weight: bold;
    border: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15px;
  }

  button:hover{
    opacity: 100;
    background: #ffffff3b;
    color: rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 3px #ffffff,
                0 0 10px #fffffffd,
                0 0 20px #ffffff67,
                0 0 30px #ffffff28;
}
  
section.index-paralax button{
    background-color: #ff914d;
    margin-top: 1%;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    max-width: 15%;
    font-size: 18px;
    z-index: 50;
}

section.index-paralax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%)
}

section.module-paralax h1 {
    color: #fff;
    text-align: left;
    max-width: 50%;
    font-size: 70px;
    z-index: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section.module-paralax button{
    margin-top: 2%;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    max-width: 15%;
    font-size: 17px;
    z-index: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section.module-paralax1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-image: url(/img/paralax3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module-paralax1:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%)
}

section.index-paralax1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-image: url(/img/paralax7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.index-paralax1 h1{
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: right;
    margin-left: 55%;
    max-width: 40%;
    font-size: 35px;
    z-index: 50;
}

section.index-paralax1 button{
    background-color: #ff914d;
    margin-top: 2%;
    margin-left: 80%;
    max-width: 20%;
    color: #ffffff;
    text-align: center;
    max-width: 15%;
    font-size: 17px;
    z-index: 50;
}

section.index-paralax1:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%)
}

section.module-paralax1 h1 {
    color: #fff;
    text-align: left;
    font-size: 70px;
    z-index: 50;
}

.Guia {
    justify-content: space-around;
    display: flex;
    font-size: 20%;
    background-color: #15151e;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}

.filterImg {
    filter: grayscale(1);
    /*blur(1px) filtro de imagem borrada*/
}

#ficha {
    width: 75%;
}

.titulop {
    font-size: 0pt;
    width: 20% auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo {
    font-size: 90pt;
    margin-left: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    /*barra de navegador*/
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: #0d0d13;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: background 0.3s;
}

.menu {
    /*barra de navegador*/
    display: flex;
    font-family: Arial;
    text-decoration: none;
}

.menu li a {
    margin-left: 20px;
    padding: 20px;
}

.menu li a:hover {
    background-color: var(--cor-teste);
    transition: background .2s;
    border-radius: 5px;
}

.submenu {
    display: none;
}

nav ul li:hover .submenu {
    display: block;
    position: absolute;
    background-color: rgb(8, 0, 14);
    padding: 10px;
    list-style-type: none;
    margin-left: -25px;
}

.submenu ul li {
    margin-bottom: 5px;
    padding: 10px;
}

/*CSS FLEXBOX PERSONAGENS*/
.container-personagens {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.zoom {
    width: calc((80%/3) - 25px);
    min-width: 200px;
    margin: 20px;
}

.zoom img {
    width: 100%;
    gap: 50%;
    border-radius: 10px;
}

.img-responsive {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.img-responsive:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}